{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Page Title:</label>
            <input type="text" name="t" id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="txt">Page Content:</label>
            <textarea class="form-control" name="txt" rows="10" id="txt"></textarea>
        </div>
        <input type="submit" value="Create Page">
    </form>
{% endblock %}